<%= link_to content_handle_bookmark_path(content), remote: true, class: "text-decoration-none" do %>
  <div class="book-page-content-container">
    <%= render partial: 'bookmark',
               locals:  {
                 content:    content,
                 bookmarked: @metadata&.content_bookmarks.include?(content.id) || false
               } %>

    <div class="book-content-text-container">
      <% if content.content_type == 'p' %>
        <p><%= content.text %></p>
      <% elsif content.content_type == 'blockquote' %>
        <blockquote><%= content.text %></blockquote>
      <% else %>
        <p><%= content.text %></p>
      <% end %>
    </div>

    <%= render partial: 'actions' %>

  </div>
<% end %>
