<%= render @book %>

<div class="book-page-container">
  <div class="book-page-header text-secondary">
    <p class="mb-0"><%= @book.title %></p>
    <p class="mb-0"><%= @book.author %></p>
  </div>

  <div class="book-page-title">
    <p class="mb-2 pb-1 mini-font text-secondary">
      <%= "Section #{@section.sequence}" %><%= ", Paragraph #{params["content"]}" if params["content"] %>
    </p>
    <h5 class="mb-4">
      On The Subject Of Matters <%= @section.section_title %>
    </h5>
  </div>

  <div class="book-page-body mb-3">
    <div class="book-page-text-body">
      <%= render partial: 'content', collection: @contents %>
    </div>
  </div>

  <div class="book-page-actions">
    <div class="book-page-actions-left">📚</div>
    <div class="book-page-actions-middle">
      <%= link_to '< Prev', book_section_path(@book, @section.previous_section), class: 'btn' %>
      <%= link_to 'Next >', book_section_path(@book, @section.next_section), class: 'btn' %>
    </div>
    <div class="book-page-actions-right">
      <span class="text-secondary"><%= "#{@section.progress}%" %></span>
    </div>
  </div>
</div>


