<%= render @book %>

<div class="page-container">
  <h3 class="mb-1"><%= @book.title %></h3>
  <p class="mb-1 mini-font text-secondary">by <%= @book.author %></p>
  <p class="mini-font text-secondary">
    <%= "Section #{@section.sequence}" %><%= ", Paragraph #{params["content"]}" if params["content"] %>
  </p>

  <div style="
  width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  ">
    <% @contents.each do |content| %>
      <p><%= content.text %></p>
    <% end %>
  </div>

  <div class="">
    <%= button_to 'Previous', { controller: :books, method: :get, section: 123 } %>
    <%= button_to 'Next', { controller: :books, method: :get, section: 123 } %>
  </div>
</div>

<div class="book-page-container">
  <div class="book-page-header">
    <h3 class="mb-1"><%= @book.title %></h3>
    <p class="mb-1 mini-font text-secondary">by <%= @book.author %></p>
    <p class="mini-font text-secondary">
      <%= "Section #{@section.sequence}" %><%= ", Paragraph #{params["content"]}" if params["content"] %>
    </p>
  </div>
  <div class="book-page-body"></div>
  <div class="book-page-actions"></div>
  <div class="book-page-footer"></div>
</div>
