<div class="section-show" data-controller="sections">
  <div id="toc-container" class="toc-container" data-sections-target="hideable">
    <%= render partial: 'table_of_contents',
               locals:  {
                 current_section: @section,
                 sections:        @book.book_sections } %>
  </div>

  <div id="toc-toggle" class="toc-toggle" onclick="toggleToc()">
    <i class="fa-solid fa-caret-right"></i>
  </div>

  <div class="book-page">
    <div class="toc-icon-container">
      <i class="fa-solid fa-chevrons-right"></i>
    </div>
    <div class="header text-secondary">
      <p class="mb-0"><%= @book.title %></p>
      <p class="mb-0"><%= @book.author %></p>
    </div>

    <div class="title">
      <h4 class="mt-3 display-5">
        <%= @section.title %>
      </h4>
    </div>

    <hr style="color: white; height: 2px; width: 20px;" class="my-3"/>

    <div class="book-page-body mb-3">
      <% @contents.each_with_index do |content, index| %>
        <%= render partial: 'content', locals: { content: content, index: index } %>
      <% end %>
    </div>

    <div class="actions">
      <div class="left">📚</div>
      <div class="middle">
        <%= link_to book_section_path(@book, @section.previous_section), class: 'mx-4' do %>
          <i class="fa-solid fa-chevron-left"></i>
        <% end %>
        <%= link_to book_section_path(@book, @section.next_section), class: 'mx-4' do %>
          <i class="fa-solid fa-chevron-right"></i>
        <% end %>
      </div>
      <div class="right">
        <span class="text-secondary"><%= "#{@section.progress}%" %></span>
      </div>
    </div>
  </div>
</div>

<script>
    const toggleToc = () => {
        let toc = document.getElementById('toc-container')
        let toggle = document.getElementById('toc-toggle')

        if (!toc.style.display) {
            toc.style.display = 'none'
            toggle.style.left = '0';
            return;
        }

        if (toc.style.display === 'block') {
            toc.style.display = 'none'
            toggle.style.left = '0'
            return;
        }
        if (toc.style.display === 'none') {
            toc.style.display = 'block'
            toggle.style.left = '20em'
        }
    }
</script>
