<div class="section-show" data-controller="sections">
  <div id="toc-container" class="toc-container" data-sections-target="hideable">
    <%= render partial: 'table_of_contents',
               locals:  {
                 current_section: @section,
                 sections:        @book.book_sections } %>
  </div>

  <div id="toc-toggle" class="toc-toggle" onclick="toggleToc()">
    <i class="fa-solid fa-caret-right"></i>
  </div>

  <div class="book-section">
    <div class="toc-icon-container">
      <i class="fa-solid fa-chevrons-right"></i>
    </div>
    <div class="title">
      <h4 class="mt-3 display-5">
        <%= @section.title %>
      </h4>
    </div>
    <hr style="color: white; height: 2px; width: 20px;" class="my-3"/>

    <div class="book-section-body mb-3">
      <% if @section.total_bookmarks < 5 %>
        <% @contents.each_with_index do |content, index| %>
          <%= render partial: 'content', locals: { content: content, index: index, hidden: false } %>
        <% end %>

      <% else %>
        <% collapsed = [] %>
        <% @contents.each_with_index do |content, index| %>
          <% if index == 0 %>
            <%= render partial: 'content',
                       locals:  { content: content, index: index, hidden: false } %>

          <% elsif bookmarked?(content) || actions_disabled?(content) %>
            <%= render partial: 'content',
                       locals:  { content: content, index: index, hidden: false } %>

          <% else %>
            <% if bookmarked? @contents[index + 1] %>
              <div id="collapsed-container-<%= index %>" class="collapsed-content-container collapsed-content-hidden">
                <% collapsed.push content %>
                <div>
                  <hr class="my-3"/>
                  <div class="vl-container">
                    <div class="vl"></div>
                  </div>
                  <% collapsed.each do |collapsed_content| %>
                    <%= render partial: 'content',
                               locals:  { content: collapsed_content, index: index, hidden: true } %>
                  <% end %>
                  <% collapsed = [] %>
                  <hr/>
                </div>
              </div>

              <div id="collapse-actions-container-<%= index %>" class="collapse-actions-container my-3">
                <div class="icon-container mx-2" onclick="uncollapse(<%= index %>)">
                  <i class="fa-solid fa-up-down fa-sm"></i>
                </div>
              </div>
            <% else %>
              <% collapsed.push content %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="actions">
      <div class="left"></div>
      <div class="middle">
        <%= link_to book_section_path(@book, @section.previous_section), class: 'px-4', id: 'prev-section-button' do %>
          <i class="fa-solid fa-chevron-left"></i>
        <% end %>
        <%= link_to book_section_path(@book, @section.next_section), class: 'px-4', id: 'next-section-button' do %>
          <i class="fa-solid fa-chevron-right"></i>
        <% end %>
      </div>
      <div class="right">
        <span class="text-secondary"><%= "#{@section.progress}%" %></span>
      </div>
    </div>
  </div>
</div>

<script>
    window.addEventListener('keydown', (e) => {
        const key = e.key

        switch (key) {
            case 'ArrowLeft':
                document.getElementById('prev-section-button').click()
                break;
            case 'ArrowRight':
                document.getElementById('next-section-button').click()
                break;
        }
    })

    function toggleToc() {
        let toc = document.getElementById('toc-container')
        let toggle = document.getElementById('toc-toggle')

        if (!toc.style.display) {
            toc.style.display = 'none'
            toggle.style.left = '0';
            return;
        }

        if (toc.style.display === 'block') {
            toc.style.display = 'none'
            toggle.style.left = '0'
            return;
        }
        if (toc.style.display === 'none') {
            toc.style.display = 'block'
            toggle.style.left = '21.5em'
        }
    }

    function uncollapse(index) {
        let container = document.getElementById(`collapsed-container-${index}`)
        let actions = document.getElementById(`collapse-actions-container-${index}`)
        let contents = container.querySelectorAll('.book-page-content-container')

        let show = []

        if (container.classList.contains('collapsed-content-hidden')) {
            container.classList.remove('collapsed-content-hidden')
        }

        for (let i = 0; i < contents.length; i++) {
            if (!contents[i].classList.contains('hide-content')) {
                if (i === contents.length - 1) actions.style.display = 'none'
                continue;
            } // if not hidden

            show.push(contents[i])

            if (i === contents.length - 1) {
                for (let j = 0; j < show.length; j++) show[j].classList.remove('hide-content')
                actions.style.display = 'none'
                return;
            }

            if (show.length === 3) {
                show[0].classList.remove('hide-content')
                show[1].classList.remove('hide-content')
                show[2].classList.remove('hide-content')
                return
            }
        }

        actions.style.display = 'none'
    }
</script>
