<%= link_to book_section_path(book, book.get_current_section(current_user)), class: "book-info-link-container text-secondary text-decoration-none" do %>
  <div class="book-display-container bg-dark">
    <div class="book-display-info-container" id="book-info-container">
      <h4 class="text-primary" style="margin-bottom: 1px"><%= book.title %></h4>
      <p class="m-0 text-secondary book-display-author-data">
        <%= book.author %><%= " - #{book.date_published.to_date}" if book.date_published.present? %>
      </p>
      <p class="m-0 fw-bold book-display-metadata" style="color: #525252">
        <%= book.bookmark_count %> Bookmarks - 450 Comments
      </p>
      <p class="m-0 text-primary book-display-description">
        <% if book.description.present? %>
          <b>AI Summary: </b><%= book.description %>
        <% else %>
          <i>No book description provided.</i>
        <% end %>
      </p>
    </div>
  </div>
<% end %>