<div class="sign-in-page">
  <div class="banner">
    <div class="hook">
      <h1>Invicta 📗</h1>
      <h6 class="lead">Any book. Anytime. Anywhere.</h6>
    </div>

    <div class="sign-in-container">
      <div class="p-4 sign-in">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field mb-2">
            <%= f.email_field :email,
                              autofocus:    true,
                              autocomplete: "email",
                              placeholder:  'Email',
                              class:        'form-control' %>
          </div>

          <div class="field mb-2">
            <%= f.password_field :password,
                                 autocomplete: "current-password",
                                 placeholder:  'Password',
                                 class:        'form-control' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field mb-2">
              <%= f.check_box :remember_me, class: 'bg-secondary' %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn invicta-dark-grey invicta-text' %>
          </div>
        <% end %>

        <br/>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>