<!DOCTYPE html>
<html>
<head>
  <title>Invicta 📗</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <link href='/css/fontawesome.css' rel='stylesheet'>
  <link href='/css/all.css' rel='stylesheet'>
  <script defer src="/js/all.js"></script>

  <%= stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<header>
  <%#= render 'layouts/navbar' %>
</header>
<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
    <%= flash[:notice] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
    <%= flash[:alert] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<%= yield %>
</body>
</html>
